spring:
  application:
    name: medisynapse-hms
  output:
    ansi:
      enabled: always

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
    displayRequestDuration: true
    displayOperationId: false
  show-actuator: false

# Server Configuration
server:
  port: 8080
  servlet:
    context-path: /

## JWT Configuration
#jwt:
#  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
#  expiration: 3600000 # 1 hour in milliseconds
#  refresh-expiration: 604800000 # 7 days in milliseconds

# JWT Configuration
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000}
  refresh-expiration: 604800000 # 7 days in milliseconds

# Logging Configuration
logging:
  level:
    com.mhms.medisynapse: DEBUG
    org.springframework.web: INFO

# File Upload Configuration
file:
  upload-dir: uploads/lab-reports
  max-size: 10MB
